In [2]:
import pandas as pd
import re
import os

folder_path = "../kursach/alldata"


combined_data = ""


for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        file_path = os.path.join(folder_path, filename)

        with open(file_path, 'r') as file:
            file_content = file.read()

        cleaned_data = file_content.replace("P", "")
        cleaned_data = re.sub(r'(\s{8})+', '?', cleaned_data)
        cleaned_data = re.sub(r'(\s{6})+', 'kal?', cleaned_data)
        
        combined_data += cleaned_data


# Зберегти об'єднані дані у файл

output_file_path = '../kursach/alldata.txt'
with open(output_file_path, 'w') as output_file:
    output_file.write(combined_data)

In [3]:
with open('../kursach/alldata.txt', 'r') as file:
    file_content = file.read()


cleaned_data = file_content.replace(" ", "")


with open('../kursach/alldata2.txt', 'w') as output_file:
    output_file.write(cleaned_data)

In [4]:
folder_path = "../kursach/alldata"

# for filename in os.listdir(folder_path):
#     if filename.endswith('.txt'):
#         file_path = os.path.join(folder_path, filename)
#         if os.path.getsize(file_path) > 0:
#             data = pd.read_fwf(file_path, names=["Time","H_Angle","V_Angle","Range","Temp","Humid","Hight","P"], delimiter="          ")
#             df = pd.concat([df, data], ignore_index=True)
df = pd.read_csv('../kursach/alldata.txt', names=["Time","H_Angle","V_Angle","Range","Temp","Humid","Hight"], sep="?")

In [5]:

df = df.drop("Time", axis=1)

df.info()
with open("../kursach/test_help.txt", 'w') as file:
    file.write("")
df.to_csv("../kursach/test_help.txt", index=False)
df

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22264 entries, 0 to 22263
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   H_Angle  22264 non-null  object
 1   V_Angle  22264 non-null  object
 2   Range    22264 non-null  int64
 3   Temp     22264 non-null  object
 4   Humid    22264 non-null  object
 5   Hight    22264 non-null  int64
dtypes: int64(2), object(4)
memory usage: 1.0+ MB

      H_Angle V_Angle  Range    Temp Humid  Hight
0       15-79    4-30    367    -5,6    73    330
1       17-24    3-97    792    -6,3    75    490
2       19-17    3-73   1261    -4,5    78    650
3       19-06    3-75   1672    -5,1    77    809
4       19-84    3-62   2156    -5,7    76    969
...       ...     ...    ...     ...   ...    ...
22259   12-41    4-76  20398   -43,6   kal   9848
22260   12-44    4-72  20978   -44,7   kal  10045
22261   12-43    4-70  21422   -45,8   kal  10242
22262   12-44    4-68  21904   -46,9   kal  10437
22263   12-55    4-74  22098   -48,0   kal  10644

[22264 rows x 6 columns]

In [6]:
pattern = r"-[0-9]+-[0-9]+"

for filename in os.listdir(folder_path):
    if filename.endswith('.txt'):
        file_path = os.path.join(folder_path, filename)
        with open(file_path, 'r') as file:
            file_content = file.read()

            if re.search(pattern, file_content):
                print(f"Файл '{filename}' містить рядок у форматі '-number-number'")
                break 
else:
    print("Файл з рядком у форматі '-number-number' не знайдено в папці")

Файл з рядком у форматі '-number-number' не знайдено в папці

In [7]:
df[["HA_Start", "HA_End"]] = df['H_Angle'].str.split('-', expand=True)
df[["VA_Start", "VA_End"]] = df['V_Angle'].str.split('-', expand=True)
df = df.drop("V_Angle",  axis=1)
df = df.drop("H_Angle",  axis=1)
df

       Range    Temp Humid  Hight HA_Start HA_End VA_Start VA_End
0        367    -5,6    73    330       15     79        4     30
1        792    -6,3    75    490       17     24        3     97
2       1261    -4,5    78    650       19     17        3     73
3       1672    -5,1    77    809       19     06        3     75
4       2156    -5,7    76    969       19     84        3     62
...      ...     ...   ...    ...      ...    ...      ...    ...
22259  20398   -43,6   kal   9848       12     41        4     76
22260  20978   -44,7   kal  10045       12     44        4     72
22261  21422   -45,8   kal  10242       12     43        4     70
22262  21904   -46,9   kal  10437       12     44        4     68
22263  22098   -48,0   kal  10644       12     55        4     74

[22264 rows x 8 columns]

Варік з обрізанням данних по вологості

In [8]:
df = df.drop(df[df['Humid'].str.contains('kal')].index)
df = df.sample(frac = 1)
df['Temp'] = df['Temp'].str.replace(',', '.').astype(float)
df['Temp'] = pd.to_numeric(df['Temp'])
df[["Temp", "Humid", "HA_Start", "HA_End","VA_Start", "VA_End"]] = df[["Temp", "Humid", "HA_Start", "HA_End","VA_Start", "VA_End"]].apply(pd.to_numeric)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10868 entries, 7901 to 13513
Data columns (total 8 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Range     10868 non-null  int64
 1   Temp      10868 non-null  float64
 2   Humid     10868 non-null  int64
 3   Hight     10868 non-null  int64
 4   HA_Start  10868 non-null  int64
 5   HA_End    10868 non-null  int64
 6   VA_Start  10868 non-null  int64
 7   VA_End    10868 non-null  int64
dtypes: float64(1), int64(7)
memory usage: 764.2 KB

In [14]:
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error
from sklearn.preprocessing import PolynomialFeatures


train_df, test_df = train_test_split(df, test_size=0.2, random_state=42)
model = LinearRegression(fit_intercept=True)
poly_features = PolynomialFeatures(degree=4)
x_train = train_df[['Range', 'Temp', 'Humid', 'Hight']]
y_train = train_df[['HA_Start']]

x_poly = poly_features.fit_transform(x_train)
model.fit(x_poly, y_train)
predicted = model.predict(x_poly)
print('На тренувальних даних MSE =', mean_squared_error(y_train, predicted))

На тренувальних даних MSE = 231.0848299570677